# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\CISC1115\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
